//- link(rel='stylesheet', type='text/css', href='./css/style.css').
h1 HELLO PLAY TIC TAC TOE BECAUSE THIS IS THE BEST GAME EVER!
  .square
    .content
      .table
        .table-cell

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')




